# Applied Data Science Capstone

## BUSSINESS PROBLEM AND SOLUTION

We are company XYZ, located in Vietnam, and we are professional in business consulting and investment. In the early of this year, there is a businessperson named Tom, who lives in the US and has a chain of restaurants in California. His father is Vietnamese and now living in Ho Chi Minh City. This Tet holiday Tom traveled to Vietnam for visiting his father, and he would like to open a café shop for his father in Ho Chi Minh. As Tom always has a serious mindset, he would like to set-up a café shop in the right place, where the shop will be successful and famous in one or two years. He has come to our company and requested for consulting service regarding to café shop in Ho Chi Minh City. We, as a reputational company, have to work seriously to help our customer successful. We always understand that, our success is our customer success. Therefore, our works are:
*  Doing data collection and analysis for café shop located in Ho Chi Minh city, Vietnam. 
*  Doing data collection and analysis for population in Districts in Ho Chi Minh city, Vietnam. 
*  Consulting our customer to choose the right place for setting up café shop. The criteria for the right place are:
    *  Located in district having crowd population
    *  Having many café shop nearby (as Vietnamese business culture)


In order to do the following tasks above, we need to:
*   Use foursquare API to explore the café shop in Ho Chi Minh city. We only focus on districts where are high density of population - District 1, District 2, District 3, District 5, District 7, District 10, District 11, District 12, Tan Binh District, Tan Phu District. We can use the page https://www.latlong.net/ to determine the latitude and longtitude of each district.
*   Do analysis for district population in Ho Chi Minh City. We contacted Ho Chi Minh administration office and we have the district population statistic in 2019. This is the URL for district population: 
    > https://image.thanhnien.vn/980/uploaded/hoangnam/2019_10_11/tphcm_ccif.jpg

| District                     | Population in 2019 |
| ---------------------------- |:------------------:|
| District 1                   | 142000             |
| District 2                   | 180000             |
| District 3                   | 190000             |
| District 4                   | 175000             |
| District 5                   | 159000             |
| District 6                   | 233000             |
| District 7                   | 360000             |
| District 8                   | 424000             |
| District 9                   | 397000             |
| District 10                  | 234000             |
| District 11                  | 209000             |
| District 12                  | 620000             |
| Go Vap District              | 676000             |
| Tan Binh District            | 474000             |
| Tan Phu District             | 485000             |
| Binh Thanh District          | 499000             |
| Phu Nhuan District           | 163000             |
| Thu Duc District             | 592000             |
| Binh Tan District            | 784000             |
| Cu Chi District              | 462000             |
| Hoc Mon District             | 542000             |
| Binh Chanh District          | 705000             |
| Nha Be District              | 206000             |
| Can Gio District             | 71000              |


*	After having enough data and information, we can summarize and provide good explanation regarding to the location where are the good for our customer to set-up café shop.

## Data Preprocessing

### 1. Collect total cafe shops in high density of population district in Ho Chi Minh city - District 1, District 2, District 3, District 5, District 7, District 10, District 11, District 12, Tan Binh District, Tan Phu District

In [65]:
# Load the Pandas libraries with alias 'pd' 
import pandas as pd 

#Foursquare API URL for retrieving cafe shop in district
##District 1
fqDistrict1URL = 'https://api.foursquare.com/v2/venues/explore?client_id=E5YCO5N3ZXE5UB5LUQVSUGGQ4NV5FZ0YVUKEVS53A5AWBHUG&client_secret=Q5T1TDZIS3CHH0PAQWF4VUO5JXHHRM25KGGEZPZ0WUPAE1FZ&v=20170511&section=coffee&ll=10.775659,106.700424'
##District 2
fqDistrict2URL = 'https://api.foursquare.com/v2/venues/explore?client_id=E5YCO5N3ZXE5UB5LUQVSUGGQ4NV5FZ0YVUKEVS53A5AWBHUG&client_secret=Q5T1TDZIS3CHH0PAQWF4VUO5JXHHRM25KGGEZPZ0WUPAE1FZ&v=20170511&section=coffee&ll=10.790942,106.736619'
##District 3
fqDistrict3URL = 'https://api.foursquare.com/v2/venues/explore?client_id=E5YCO5N3ZXE5UB5LUQVSUGGQ4NV5FZ0YVUKEVS53A5AWBHUG&client_secret=Q5T1TDZIS3CHH0PAQWF4VUO5JXHHRM25KGGEZPZ0WUPAE1FZ&v=20170511&section=coffee&ll=10.783143,106.686902'
##District 5
fqDistrict5URL = 'https://api.foursquare.com/v2/venues/explore?client_id=E5YCO5N3ZXE5UB5LUQVSUGGQ4NV5FZ0YVUKEVS53A5AWBHUG&client_secret=Q5T1TDZIS3CHH0PAQWF4VUO5JXHHRM25KGGEZPZ0WUPAE1FZ&v=20170511&section=coffee&ll=10.756034,106.670229'
##District 7
fqDistrict7URL = 'https://api.foursquare.com/v2/venues/explore?client_id=E5YCO5N3ZXE5UB5LUQVSUGGQ4NV5FZ0YVUKEVS53A5AWBHUG&client_secret=Q5T1TDZIS3CHH0PAQWF4VUO5JXHHRM25KGGEZPZ0WUPAE1FZ&v=20170511&section=coffee&ll=10.736471,106.722243'
##District 10
fqDistrict10URL = 'https://api.foursquare.com/v2/venues/explore?client_id=E5YCO5N3ZXE5UB5LUQVSUGGQ4NV5FZ0YVUKEVS53A5AWBHUG&client_secret=Q5T1TDZIS3CHH0PAQWF4VUO5JXHHRM25KGGEZPZ0WUPAE1FZ&v=20170511&section=coffee&ll=10.773193,106.667655'
##District 11
fqDistrict11URL = 'https://api.foursquare.com/v2/venues/explore?client_id=E5YCO5N3ZXE5UB5LUQVSUGGQ4NV5FZ0YVUKEVS53A5AWBHUG&client_secret=Q5T1TDZIS3CHH0PAQWF4VUO5JXHHRM25KGGEZPZ0WUPAE1FZ&v=20170511&section=coffee&ll=10.764045,106.643236'
##District 12
fqDistrict12URL = 'https://api.foursquare.com/v2/venues/explore?client_id=E5YCO5N3ZXE5UB5LUQVSUGGQ4NV5FZ0YVUKEVS53A5AWBHUG&client_secret=Q5T1TDZIS3CHH0PAQWF4VUO5JXHHRM25KGGEZPZ0WUPAE1FZ&v=20170511&section=coffee&ll=10.867235,106.653836'
##Tan Binh District 
fqDistrictTanBinhURL = 'https://api.foursquare.com/v2/venues/explore?client_id=E5YCO5N3ZXE5UB5LUQVSUGGQ4NV5FZ0YVUKEVS53A5AWBHUG&client_secret=Q5T1TDZIS3CHH0PAQWF4VUO5JXHHRM25KGGEZPZ0WUPAE1FZ&v=20170511&section=coffee&ll=10.798235,106.653814'
##Tan Phu District 
fqDistrictTanPhuURL = 'https://api.foursquare.com/v2/venues/explore?client_id=E5YCO5N3ZXE5UB5LUQVSUGGQ4NV5FZ0YVUKEVS53A5AWBHUG&client_secret=Q5T1TDZIS3CHH0PAQWF4VUO5JXHHRM25KGGEZPZ0WUPAE1FZ&v=20170511&section=coffee&ll=10.791616,106.627357'

listOfDistrict = ['District 1', 'District 2', 'District 3', 'District 5', 'District 7', 'District 10', 'District 11', 'District 12', 'District Tan Binh', 'District Tan Phu']
listOfDistrictURLs = [fqDistrict1URL, fqDistrict2URL, fqDistrict3URL, fqDistrict5URL, fqDistrict7URL, fqDistrict10URL, fqDistrict11URL, fqDistrict12URL, fqDistrictTanBinhURL, fqDistrictTanPhuURL]
listOfDistrictTotalShops = []
cafeShopDF = pd.DataFrame(columns = ['District','Total Of Cafe Shop'])

def getTotalOfCafeShops(foursquareAPIURL):
    df = pd.read_json(foursquareAPIURL)
    totalShops = df.loc['totalResults'][1]
    return totalShops

for districtURL in listOfDistrictURLs:
    listOfDistrictTotalShops.append(getTotalOfCafeShops(districtURL))
    
for idx in range(0,len(listOfDistrict)):
    cafeShopDF.at[idx, 'District'] = listOfDistrict[idx]
    cafeShopDF.at[idx, 'Total Of Cafe Shop'] = listOfDistrictTotalShops[idx]
    
cafeShopDF

            District Total Of Cafe Shop
0         District 1                112
1         District 2                 44
2         District 3                 58
3         District 5                 20
4         District 7                 24
5        District 10                 37
6        District 11                 25
7        District 12                 25
8  District Tan Binh                 24
9   District Tan Phu                 41

### 2. Prepare population number for districts

In [66]:
cafeShopDF.insert(2, "Population", [0,0,0,0,0,0,0,0,0,0], True) 
cafeShopDF

            District Total Of Cafe Shop  Population
0         District 1                112           0
1         District 2                 44           0
2         District 3                 58           0
3         District 5                 20           0
4         District 7                 24           0
5        District 10                 37           0
6        District 11                 25           0
7        District 12                 25           0
8  District Tan Binh                 24           0
9   District Tan Phu                 41           0

#### Based on the number of the district population in the link https://image.thanhnien.vn/980/uploaded/hoangnam/2019_10_11/tphcm_ccif.jpg

In [71]:
districtPopulation = [142000, 180000, 190000, 159000, 360000, 234000, 209000, 620000, 474000, 485000]

for idx in range(len(districtPopulation)):
    cafeShopDF.at[idx, 'Population'] = districtPopulation[idx]

cafeShopDF

            District Total Of Cafe Shop  Population
0         District 1                112      142000
1         District 2                 44      180000
2         District 3                 58      190000
3         District 5                 20      159000
4         District 7                 24      360000
5        District 10                 37      234000
6        District 11                 25      209000
7        District 12                 25      620000
8  District Tan Binh                 24      474000
9   District Tan Phu                 41      485000